body,html {
  height: 100%;
}

body {
  font-family: 'Microsoft Yahei';
  font-size: 16px;
  background: #FFF;
  color: #666;
}
input,
button {
  outline: none;
  border: none 0;
}
button {
  background: none;
}
select {
  outline: none; 
  border: none 0;
  -webkit-appearance: none; 
  margin: 0;
  padding: 0;
}
textarea {
  outline: none;
  border: none 0;
  resize: none;
}
option {
  text-align: center;
}
.error-tip {
  display: none;
}
.error-tip.active {
  display: block;
}
/* 加粗 */
.bold-tit {
  font-weight: bold;
}
/* 蓝色 */
.color-a {
  color: blue;
}
/* 橙色 */
.orange-color {
  color: #f90;
}
/* 数字和字母字体 */
.num-font {
  font-family: 'Arial';
}
.num-color {
  font-family: 'Arial';
  font-size: 16px;
  color: #f90;
}
/* 边框 */
.border { 
  position: relative; 
}
.border:after { 
  content: ''; 
  display:block; 
  position: absolute; 
  width: 100%; 
  left: 0px; 
  bottom: 0px;
  height: 1px; 
  background-color: #ccc; 
  -webkit-transform: scaleY(0.5); 
  transform: scaleY(0.5);
}
.border:before { 
  content: ''; 
  display:block; 
  position: absolute; 
  width: 100%; 
  left: 0px; 
  top: 0px;
  height: 1px; 
  background-color: #ccc; 
  -webkit-transform: scaleY(0.5); 
  transform: scaleY(0.5);
}
.border-l {
  border-image:url(http://cdn.rsscc.cn/guanggao/img/mall/icon/border-line2.png) 0 2 stretch;
  border-width: 0px 0px 0px 1px;
}
.border-r {
  border-image:url(http://cdn.rsscc.cn/guanggao/img/mall/icon/border-line2.png) 0 2 stretch;
  border-width: 0px 1px 0px 0px;
}
.border-t {
  border-image:url(http://cdn.rsscc.cn/guanggao/img/mall/icon/border-line2.png) 2 0 stretch;
  border-width: 1px 0px 0px 0px;
}
.border-b {
  border-image:url(http://cdn.rsscc.cn/guanggao/img/mall/icon/border-line2.png) 2 0 stretch;
  border-width: 0px 0px 1px 0px;
}
.loading-box {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}
.loading-icon {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -18px;
  margin-top: -18px;
}
.info-box, 
.active-box, 
.order-box,
.integral-box,
.exchange-record-box,
.integral-list-box,
.pay-box,
.pay-order-detail-box,
.address-page-box,
.delivery-box {
  max-width: 750px;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
}
.goods-copyright-fix {
  margin-bottom: 60px;
}
.copyright-block {
  width: 100%;
  height: 231px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.copyright-bar {
  background: #f3f3f3;
  width: 100%;
  height: 100%; 
  line-height: 30px;
  text-align: center;
  color: #999;
  font-size: 10px;
  padding: 18px 0;
}
.filed-box {
  width: 200px; 
  font-size: 14px;
  margin: 0 auto; 
  text-align: center; 
  border-top: 1px solid #ccc;
}
.filed-text {
  width: 266px;
  margin: 5px auto; 
  padding: 5px 10px; 
  line-height: 22px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.group-name {
  font-family: 'Arial';
}

/* index start */

.home-page-box {
  max-width: 750px;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  font-size: 14px;
}
.home-banner-bar,
.home-banner-pic,
.home-banner-pic img {
  width: 100%;
}
.home-nav {
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  background: #fff;
}
.home-nav .home-record-btn {
  height: 22px;
  line-height: 22px;
  padding: 0 10px;
  margin-top: 9px;
  border-radius: 10px;
  color: #fff;
  background: #4d9eeb;
}
.home-goods-bar {
  background: #f3f3f3;
  /*padding-bottom: 211px;*/
  padding-bottom: 231px;
}
.home-goods-bar .num-color {
  font-size: 12px;
  color: #FFF;
}
.home-show-area {
  padding-top: 3px;
}
.home-recommend,
.home-limit,
.home-hot {
  background: #fff;
  margin-top: 3px;
}
.home-big-bar {
  width: 44%;
  height: 187px;
  position: relative;
}
.home-small-bar {
  width: 55%;
  height: 92px;
}
.home-common-tit {
  height: 21px;
}
.home-common-tit-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.home-recommend .home-common-tit {
  color: #4d9eeb;
}
.home-recommend .home-value-common .home-value-p {
  background: #4d9eeb;
} 
.home-recommend .home-value-common .home-value-icon {
  border-left: 10px solid #4d9eeb;
} 
.home-hot .home-value-common .home-value-p {
  background: #ffbe46;
} 
.home-hot .home-value-common .home-value-icon {
  border-left: 10px solid #ffbe46;
} 
.home-limit .home-value-common .home-value-p {
  background: #ff6533;
} 
.home-limit .home-value-common .home-value-icon {
  border-left: 10px solid #ff6533;
} 
.home-recommend .home-common-tit-icon {
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -45px -87px;
  background-size: 312px 280px;
}
.home-hot .home-common-tit {
  color: #ffbe46;
}
.home-hot .home-common-tit-icon {
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -99px -85px;
  background-size: 312px 280px;
}
.home-limit .home-common-tit {
  color: #ff6533;
}
.home-limit .home-common-tit-icon {
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -71px -87px;
  background-size: 312px 280px;
}
.home-recommend a,
.home-hot a,
.home-limit a {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}
.home-big-pic-bar {
  position: absolute;
  left: 50%;
  bottom: 9px;
  margin-left: -60px;
}
.home-show-text-bar {
  width: 70%;
  padding-top: 4px;
  padding-left: 10px;
}
.home-show-pic-bar {
  width: 45%;
  position: absolute;
  right: 4%;
  bottom: 15px;
}
.home-small-goods-pic{
  width: 86px;
}
.home-goods-dt {
  padding: 10px 0;
}
.home-filed-box {
  width: 150px; 
  font-size: 16px;
  color: #999;
  margin: 0 auto; 
  text-align: center; 
  border-top: 1px solid #ccc;
}
.home-goods-area-son {
  width: 49.5%;
  height: 141px;
  margin-bottom: 3px;
  background: #fff;
}
.home-goods-area-son:nth-of-type(odd) {
  float: left;
  border-image:url(http://cdn.rsscc.cn/guanggao/img/mall/icon/border-line2.png) 0 2 stretch;
  border-width: 0px 1px 0px 0px;
}
.home-goods-area-son:nth-of-type(even) {
  float: right;
  border-image:url(http://cdn.rsscc.cn/guanggao/img/mall/icon/border-line2.png) 0 2 stretch;
  border-width: 0px 0px 0px 1px;
}
.home-text-bar {
  width: 100%;
  padding-top: 4px;
  padding-left: 10px;
}
.home-pic-detail {
  width: 95%;
  font-size: 12px;
  color: #999;
  line-height: 16px;
  margin-bottom: 3px;
}
.home-big-pic-detail {
  width: 95%;
  font-size: 12px;
  color: #999;
  line-height: 16px;
  margin: 4px 0 5px 0;
}
.home-small-pic-detail {
  width: 60%;
  font-size: 12px;
  color: #999;
  line-height: 16px;
  margin: 4px 0 5px 0;
  max-height: 32px;
  overflow: hidden;
}
.home-text-bar-p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.home-value-common {
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  color: #fff;
}
.home-value-p {
  padding-left: 4px;
  padding-right: 8px;
  min-width: 24px;
  height: 16px;
}
.home-value-money .home-value-p {
  background: #4d9eeb;
}
.home-value-end .home-value-p {
  background: #ccc;
}
.home-value-point .home-value-p {
  background: #ffbe46;
}
.home-value-point-money .home-value-p {
  background: #ff6533;
}
.home-value-icon {
  border: 8px dashed transparent;
  border-left: 10px dashed transparent;
  position: relative;
}
.home-value-icon:after {
  display: block;
  content: '';
  position: absolute;
  left: -10px; 
  top: -2px;
  width: 3px;
  height: 3px;
  background: #fff;
  border-radius: 50%;
} 
.home-value-point-money .home-value-icon {
  border-left: 10px solid #ff6533;
}
.home-value-money .home-value-icon {
  border-left: 10px solid #4d9eeb;
}
.home-value-point .home-value-icon {
  border-left: 10px solid #ffbe46;
}
.home-value-end .home-value-icon {
  border-left: 10px solid #ccc;
}
.home-value {
  font-size: 10px;
}
.home-goods-pic {
  width: 100px;
  margin: 0 auto;
}
.home-big-goods-pic {
  width: 120px;
  margin: 0 auto;
}
.home-pic-bar {
  padding: 12px 0 4px;
}
.state-icon {
  margin-left: 8px;
  margin-top: -3px;
  display:inline-block;
  vertical-align: middle;
}
.state-limit {
  width: 29px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -205px 0;
  background-size: 312px 280px;
}
.state-out {
  width: 29px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -244px 0;
  background-size: 312px 280px;
}
.state-prize {
  width: 29px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -283px 0;
  background-size: 312px 280px;
}
.state-grab {
  width: 29px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -166px 0;
  background-size: 312px 280px;
}
.new-user {
  width: 34px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat;
  background-size: 312px 280px;
}
.old-user {
  width: 34px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -44px 0;
  background-size: 312px 280px;
}
.month-card {
  width: 29px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -88px 0;
  background-size: 312px 280px;
}
.quarter-card {
  width: 29px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -127px 0;
  background-size: 312px 280px;
}
.user-v1 {
  width: 40px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat 0 -29px;
  background-size: 312px 280px;
}
.user-v2 {
  width: 40px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -50px -29px;
  background-size: 312px 280px;
}
.user-v3 {
  width: 40px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -100px -29px;
  background-size: 312px 280px;
}
.user-v4 {
  width: 40px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -150px -29px;
  background-size: 312px 280px;
}
.user-v5 {
  width: 40px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -200px -29px;
  background-size: 312px 280px;
}
.user-v6 {
  width: 40px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -250px -29px;
  background-size: 312px 280px;
}
.user-v7 {
  width: 40px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat 0 -58px;
  background-size: 312px 280px;
}
.user-v8 {
  width: 40px;
  height: 14px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -50px -58px;
  background-size: 312px 280px;
}

/* index end */

/* index-flight start */

.home-flight-area {
  padding-top: 10px; 
}
.home-flight-son {
  width: 48%;
  height: 162px;
  background: #fff;
  position: relative;
}
.home-status-icon {
  width: 45px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 6px;
}
.home-daily-icon {
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon-flight.png) no-repeat;
  background-size: 320px 280px;
}
.home-user1-icon {
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon-flight.png?a=b) no-repeat -55px 0;
  background-size: 320px 280px;
}
.home-user2-icon {
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon-flight.png?a=b) no-repeat -55px -28px;
  background-size: 320px 280px;
}
.home-user3-icon {
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon-flight.png?a=b) no-repeat -55px -56px;
  background-size: 320px 280px;
}
.home-user4-icon {
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon-flight.png?a=b) no-repeat -55px -84px;
  background-size: 320px 280px;
}
.home-user5-icon {
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon-flight.png?a=b) no-repeat -55px -112px;
  background-size: 320px 280px;
}
.home-user6-icon {
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon-flight.png?a=b) no-repeat -55px -140px;
  background-size: 320px 280px;
}
.home-user7-icon {
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon-flight.png?a=b) no-repeat -55px -168px;
  background-size: 320px 280px;
}
.home-user8-icon {
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon-flight.png?a=b) no-repeat -55px -196px;
  background-size: 320px 280px;
}
.home-flight-son:nth-of-type(odd) {
  float: left;
  border-image:url(http://cdn.rsscc.cn/guanggao/img/mall/icon/border-line2.png) 0 2 stretch;
  border-width: 0px 1px 0px 1px;
  margin: 0 0 5px 5px;
}
.home-flight-son:nth-of-type(even) {
  float: right;
  border-image:url(http://cdn.rsscc.cn/guanggao/img/mall/icon/border-line2.png) 0 2 stretch;
  border-width: 0px 1px 0px 1px;
  margin: 0 5px 5px 0;
}
.home-flightpic-bar {
  padding: 25px 0 12px;
}
.home-goods-flightpic {
  width: 100px;
  height: 64px;
  margin: 0 auto;
}
.home-flight-desc-bar {
  height: 32px;
  overflow: hidden;
}
.home-flight-desc { 
  padding: 0 10px;
  line-height: 16px;
}
.home-flight-value-bar {
  padding: 0 10px;
}
.home-currency-symbol {
  font-size: 12px;
  margin-right: 2px;

}
.home-cost,
.home-cost-points {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Arial';
}
.home-points-icon {
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 2px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon-flight.png) -110px 0 no-repeat;
  background-size: 320px 280px;
}
.home-flight-points {
  color: #ff9a00;
}
.home-plus-sign {
  margin: 0 2px;
}
.home-flight-points .home-currency-symbol,
.home-flight-points .home-cost,
.home-flight-points .home-plus-sign {
  display: none;
}
.home-flight-money,
.home-flight-money-points {
  color: #ff4000;
}
.home-flight-money .home-plus-sign,
.home-flight-money .home-cost-points,
.home-flight-money .home-points-icon {
  display: none;
}
.home-flight-money-points .home-points-icon {
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon-flight.png) -131px 0 no-repeat;
  background-size: 320px 280px;
}
/* index-flight end */

/* goods-detail start */

p {
  word-break: break-all;
}
.active-pic-bar img {
  width: 100%;
}
.active-bar {
  /*padding-bottom: 272px;*/
  padding-bottom: 292px;
}
.active-area {
  padding: 12px 16px 5px;
}
.active-detail-tit {
  height: 16px;
  line-height: 16px;
  border-left: 4px solid #e40031;
  margin: 4px 0;
  padding-left: 4px;
  color: #333;
}
.address-tit {
  width: 100%;
  font-size: 14px;
  font-weight: normal;
  margin: 2px 0;
}
.address-tit-son {
  color: #fff;
  background: #4889db;
  height: 18px;
  line-height: 18px;
  padding: 0 2px;
  border-radius: 2px;
}
.text-red {
  color: #f00;
}
.border-color {
  border-color: #4889db;  
}
.common-text {
  font-size: 14px;
  line-height: 20px;
}
.time-bar,
.order-pay-bar,
.goods-pay-bar {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #f3f3f3;
  border-top: 1px solid #d1d1d1;
  position: fixed;
  left: 0;
  bottom: 0; 
}
.time-area,
.order-pay-bar .order-pay-area,
.goods-pay-bar .goods-pay-area {
  height: 100%;
}
.scoring-bar {
  margin-left: 12px;
}
.user-flow {
  width: 210px;
  margin: 10px auto;
}
.count-down {
  margin-right: 10px;
}
.operate-btn,
.order-pay-bar .order-pay-btn,
.goods-pay-bar .goods-pay-btn {
  padding: 10px 15px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  border-radius: 3px;
  margin-right: 20px;
  margin-top: 12px;
  color: #fff;
}
.allow-color {
  background: #4889db;
}
.forbidden-color {
  background: #ccc;
}
.scoring-num {
  font-family: 'Arial';
  font-size: 22px;
  color: #f90;
}
.time-num {
  width: 20px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 5px;
  margin:0 2px;
  background: #ccc;
  color: #FFF;
  display: inline-block;
}
.common-shadow {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  display: none;
}
.flip-box, 
.login-flip-box,
.del-tip-box {
  width: 80%;
  height: 150px;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -40%;
  margin-top: -75px;
  z-index: 6;
  display: none;
}
.del-tip-box {
  display: block;
}
.login-flip-h {
  font-size: 18px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: center;
  height: 36px;
  line-height: 36px;
  color: #fff;
  background: #4889db;
}
.login-flip-text {
  padding: 15px;
}
.login-flip-text-no {
  text-align: center;
  padding: 25px 15px;
}
.login-btn-box {
  text-align: center;
}
.login-no,
.login-yes {
  min-width: 100px;
  padding: 5px 18px;
  color: #fff;
  margin: 0 8px;
  border-radius: 2px;
}
.flip-info,
.del-info {
  margin-top: 30px;
  padding: 0 10px;
}
.del-info {
  margin-bottom: 30px;
}
.flip-info-bar {
  height: 48px;
  margin-bottom: 16px;
}
.exchange-button {
  min-width: 88px;
  display: inline-block;
  border-radius: 3px;
  padding: 4px 12px;
  margin: 0 10px;
  color: #fff;
}
.del-common-button {
  display: inline-block;
  border-radius: 3px;
  margin: 0 10px;
  color: #fff;
  padding: 4px 28px;
}
.flip-tip {
  font-size: 12px;
  padding: 0 16px;
}
.flip-go-check {
  margin-top: 15px;
}
.integral-list-num {
  padding-top: 30px;
  height: 24px;
  color: #4889db;
}
.group-introduce {
  padding-top: 20px;
  padding-bottom: 5px;
} 
.group-introduce-bar {
  margin-top: 20px;
}
/* goods-detail end */

/* order-detail start */

.order-box {
  background: #f3f3f3;
}
.pay-order-box {
  margin-bottom: 10px;
}
.order-goods-box {
  font-size: 14px;
  padding-bottom: 292px;
}
.order-goods-bar {
  padding: 10px;
  background: #fff;
}
.order-goods-bar a {
  color: #666;
}
.pay-common-text {
  font-family: arial;
  color: #666;
}
.pay-serial a {
  color: #666;
}
.pay-cost {
  color: #333;
}
.chit-pic {
  width: 64px;
  height: 64px;
  border-radius: 4px;
}
.order-goods-text {
  margin-left: 10px;
}
.actually-pay {
  text-align: right;
  font-family: arial;
}
.exchange-code-bar {
  padding: 12px 10px;
  background: #fff;
  margin-bottom: 10px;
  position: relative;
}
.order-text-bar {
  width: 75%;
}
.order-box .enter-btn {
  width: 9px;
  height: 18px;
  margin-top: 22px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/arrow-icon.png) no-repeat;
  background-size: cover;
}
.exchange-code {
  text-align: center;
  font-size: 18px;
  padding: 8px 10px;
  color: #fff;
}
.exchange-code-word {
  background: #feb220;
  min-width: 100px;
  padding: 10px;
  border-radius: 3px; 
  display: inline-block;
}
.copy-code {
  font-size: 10px;
  color: #ccc;
  text-align: center;
}
.use-method {
  padding: 0 10px;
}
.use-method-tit {
  margin: 15px 0 10px;
  font-size: 16px;
  height: 16px;
  color: #333;
  line-height: 16px;
  padding-left: 5px;
  border-left: 4px solid #4889db;
} 
.use-method-text {
  font-size: 14px;
}
.pay-status-box {
  padding: 10px;
}
.pay-status {
  font-size: 16px;
  line-height: 26px;
  color: #333;
}
.yes-icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 10px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/h2-pay-sprite.png) no-repeat 0 -115px;
  background-size: 350px 350px;
}
.pay-status-tip {
  width: 73px;
  height: 73px;
  margin-top: 10px;
  margin-right: 20px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/h2-pay-sprite.png) no-repeat;
  background-size: 350px 350px;
}
.order-pay-btn {
  background: #4889db;
}
/* 成功状态 */
.pay-status-succ .pay-status-text {
  color: #4889db;
}
.pay-status-succ .pay-status-show {
  background-position: 0 -32px;
}
/* 未完成状态 */
.pay-status-unfinished .pay-status-text {
  color: #f31818;
}
.pay-status-unfinished .pay-status-show {
  background-position: -81px -32px;
}
/* 失败状态 */
.pay-status-fail .pay-status-text {
  color: #333;
}
.pay-status-fail .pay-status-show{
  background-position: -163px -32px;
}
/* 已取消状态 */
.pay-status-cancel .pay-status-text{
  color: #333;
}
.pay-status-cancel .pay-status-show{
  background-position: -245px -32px;
}

/* order-detail end */

/* integral-rule start */

.integral-bar {
  color: #333;
  padding: 0 10px;
}
.question-bar {
  line-height: 36px;
}
.question-icon {
  width: 16px;
  height: 16px;
  margin-right: 12px;
  display: inline-block;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/question-icon.png) no-repeat;
  background-size: cover;
  vertical-align: middle;
}
.answer-icon {
  width: 16px;
  height: 16px;
  margin-top: 6px;
  display: inline-block;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/answer-icon.png) no-repeat;
  background-size: cover;
}
.answer-text {
  font-size: 14px;
  padding-left: 28px;
  line-height: 28px;
}

/* integral-rule end */

/* exchange-record start */

.record-area,
.integral-list-area {
  height: 84px;
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: -1px;
}
.record-area {
  position: relative;
}
.record-pic-bar,
.list-pic-bar {
  margin-top: 10px;
}
.record-text-bar,
.list-text-bar {
  margin-left: 10px;
  margin-top: 10px;
}
.record-text-bar {
  width: 70%;
}
.record-text-tit {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.record-text-det, .record-text-time {
  font-size: 14px; 
  line-height: 20px;
}
.record-need-integral {
  margin-top: 10px;
  margin-right: 35px;
}
.record-text-time {
  color: #999;
}
.order-bar {
  margin-top: 8px;
}
.order-bar p {
  height:16px; 
  line-height:16px;
}
.order-status-time {
  color: #999;
  font-size: 14px;
}
.enter-btn {
  width: 9px;
  height: 18px;
  margin-top: 28px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/arrow-icon.png) no-repeat;
  background-size: cover;
}
.exchange-empty-box {
  max-width: 750px;
  margin: 0 auto;
  display: none;
}
.exchange-empty-pic {
  width: 104px;
  height: 104px;
  margin: 128px auto 36px;
}
.exchange-empty-text {
  text-align: center;
  padding-bottom: 30px;
}
.order-status {
  width: 76px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/h2-pay-sprite.png) no-repeat;
  background-size: 350px 350px;
  position: absolute;
  right: 0;
  bottom: 10px;
}
.order-status-succ {
  background-position: 0 0;
}
.order-status-waitsure {
  background-position: -86px 0;
}
.order-status-waitpay {
  background-position: -172px 0;
}
.order-status-fail {
  background-position: -258px 0;
}

/* exchange-record end */

/* pay-heshidai start */

.insert-bar {
  width: 90%;
  margin: 24px auto 0;
}
.pay-box {
  background: #f3f3f3;
}
.pay-pic-bar img {
  width: 100%;
}
.insert-bar-son {
  height: 72px;
}
.authcode-insert-bar {
  height: 68px;
}
.insert-bar-son .common-text {
  font-size: 12px;
  height: 26px;
  line-height: 26px;
}
.common-insert-area,
.authcode-insert-area {
  padding: 8px 0;
  background: #fff;
  border-radius: 4px;
}
.authcode-insert-area {
  padding: 6px 0;
}
.authcode-insert-area  {
  width: 56%;
}
.authcode-get-area {
  width: 40%;
  border-radius: 4px;
}
.authcode-get {
  width: 100%;
  height: 42px;
  text-align: center;
  line-height: 42px;
  border-radius: 4px;
}
.insert-icon {
  width: 15px;
  height: 30px;
  vertical-align: middle;
  margin: 0 15px;
  display: inline-block;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/insert-icon.png) no-repeat 0 4px;
  background-size: 51px 21px;
}
.psw-icon {
  background-position: -18px 2px;
}
.re-psw-icon {
  background-position: -36px 2px;
}
.common-insert {
  width: 70%;
  padding: 7px 0 7px 10px ;
  line-height: 16px;
  border-left: 1px solid #ccc;
  border-radius: 0;
}
.authcode-insert {
  width: 100%;
  line-height: 16px;
  padding: 7px 0 0 25px;
}
.insert-tit {
  padding-left: 55px;
}
.insert-bar-son .authcode-tit {
  padding-left: 25px;
}
.disable-color {
  background: #ccc;
}
.able-color, .authcode-get.active {
  background: #feb220;

}
.authcode-get {
  background: #ccc;
  color: #999;
}
.authcode-get.active {
  color: #fff;
}
.to-receive-bar {
  padding-bottom: 40px;
}
.to-receive {
  width: 100%;
  height: 42px;
  line-height: 42px;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  background: #feb220;
}

/* pay-heshidai end */

/* pay-order-detail 2.0 start */

.pay-order-detail-box {
  min-height: 100%;
  background: #f3f3f3;
  font-size: 14px;
}
.pay-order-detail-box .pay-status-bar {
  padding-bottom: 293px;
}
.pay-order-detail-box .pay-after-bar {
  padding-bottom: 232px;
}
.pay-order-detail-box .pay-after-bar .order-pay-bar {
  display: none;
}
.pay-order-detail-box .pay-after-bar .goods-copyright-fix {
  margin-bottom: 0;
}
.pay-order-detail-box .goods-detail {
  padding: 10px;
  position: relative;
  background: #fff;
}
.pay-order-detail-box .goods-show-pic {
  width: 70px;
  height: 70px;
  border-radius: 4px;
  margin-right: 10px;
}
.pay-order-detail-box .trade-status {
  width: 77px;
  height: 22px;
  line-height: 22px;
  text-align: right;
  padding-right: 7px;
  font-size: 12px;
  color: #fff;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/pay-status-sprite.png) no-repeat;
  background-size: 350px 350px;
  position: absolute;
  right: 0;
  bottom: 10px;
}
.pay-order-detail-box .trade-status-succ {
  background-position: -94px 0;
}
.pay-order-detail-box .trade-status-fail {
  background-position: -188px 0;
}
.pay-order-detail-box .trade-status-waiting {
  background-position: 0 0;
}
.pay-order-detail-box .trade-status-confirm {
  background-position: 0 -32px;
}
.pay-order-detail-box .goods-detail p {
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pay-order-detail-box .goods-name {
  font-size: 16px;
  color: #111;
}
.pay-order-detail-box .goods-price {
  font-family: 'Arial';
  font-size: 20px;
  line-height: 20px;
  margin-top: 8px;
  color: #f90;
}
.pay-order-detail-box .order-detail-info {
  padding: 0 10px;
  height: 36px;
  line-height: 36px;
  color: #999;
  border-top: 1px solid #f3f3f3;
  background: #fff;
  color: #333;
}
.pay-order-detail-box .order-detail-info:last-child {
  border-bottom: 1px solid #f3f3f3;
}
.pay-order-detail-box .order-detail-num {
  color: #333;
}
.pay-order-detail-box .order-exchange-bar {
  padding: 20px 5%;
}
.pay-order-detail-box .order-exchange-code {
  padding: 15px;
  position: relative;
  border: 1px solid #ccc;
  background: #fff;
  color: #999;
}
.pay-order-detail-box .order-exchange-area {
  width: 70%;
}
.pay-order-detail-box .order-exchange-text {
  font-size: 12px;
  line-height: 20px;
}
.pay-order-detail-box .order-address-area {
  margin-bottom: 5px;
}
.pay-order-detail-box .order-address-area .order-exchange-text:last-child {
  width: 75%;
}
.pay-order-detail-box .logistics-info {
  margin-right: 8px;
  color: #2d6dbe;
}
.pay-order-detail-box .order-address-area + .order-exchange-text {
  position: relative;
}
.pay-order-detail-box .order-address-enter {
  width: 8px;
  height: 14px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -7px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png?a=b) no-repeat -170px -120px;
  background-size: 312px 280px;
}
.pay-order-detail-box .effective-area {
  height: 36px;
  font-size: 12px;
  padding-left: 15px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -18px;
  border-left: 1px solid #ccc;
}
.pay-order-detail-box .arc-border {
  width: 6px;
  height: 12px;
  position: absolute;
  top: 50%;
  margin-top: -6px;
}
.pay-order-detail-box .arc-border-left {
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/order-bg-leftcircle.png) no-repeat;
  background-size: 6px 12px;
  left: -1px;
}
.pay-order-detail-box .arc-border-right {
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/order-bg-rightcircle.png) no-repeat;
  background-size: 6px 12px;
  right: -1px;
}
.pay-order-detail-box .pic-border {
  width: 100%;
  height: 3px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/order-bg-address-boder.png) repeat-x;
  position: absolute;
  left: 0;
}
.pay-order-detail-box .pic-border-top {
  top: -1px;
}
.pay-order-detail-box .pic-border-bottom {
  bottom: -1px;
}
.pay-order-detail-box .number-color {
  color: #f90;
}
.pay-order-detail-box .common-text {
  font-size: 12px;
  line-height: 20px;
}
.pay-order-detail-box .use-method {
  padding: 10px 10px 15px;
  background: #fff;
}
.order-address-bar .order-exchange-area {
  width: 100%;
}
.pay-order-detail-box .user-info {
  color: #111;
}
.pay-order-detail-box .user-info:nth-child(1) {
    margin-right: 20px;
}
.pay-order-detail-box .big-font {
  font-size: 16px;
}
.pay-order-detail-box .bigger-font {
  font-size: 18px;
}
/* pay-order-detail 2.0 end */

.yunyue-box {
  position: relative;
}
.yunyue-btn {
  width: 76%;
  height: 46px;
  line-height: 46px;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -38%;
  font-size: 20px;
  border-radius: 5px;
  background: -moz-linear-gradient(top, #f39 0%, #f36 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f39), color-stop(100%,#f36));
  background: -webkit-linear-gradient(top, #f39 0%,#f36 100%);
  background: -o-linear-gradient(top, #f39 0%,#f36 100%);
  background: -ms-linear-gradient(top, #f39 0%,#f36 100%);
  background: linear-gradient(to bottom, #f39 0%,#f36 100%);
  text-shadow: 0px 1px 3px  #fff;
}

/* address page start */

.address-page-box {
  color: #666;
  background: #f3f3f3;
}
.address-username-bar,
.address-usertel-bar,
.address-option-bar {
  height: 42px;
  line-height: 42px;
  background: #fff;
  padding: 0 10px;
  position: relative;
}
.address-option-se {
  width: 100%;
  height: 100%;
  color: #666;
  background: #fff;
}
@media only screen and (max-width:374px){
  .address-option-area {
    width: 100%;
    padding: 0 10px;
    position: relative;
  }
  .address-option-bar .border-l {
    border-width: 0;
  }
  .address-option-bar {
    height: 126px;
    padding: 0;
    color: #666;
    background: #fff;
  }
  .address-option-area:after {
    content: '';
    width: 13px;
    height: 7px;
    background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -145px -120px;
    background-size: 312px 280px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
  }
  .address-se-la {
    padding-left: 0;
  }
}
@media only screen and (min-width:375px){
  .address-option-bar {
    display: flex;
    display: -webkit-flex;
  }
  .address-option-area {
    flex: 1;
    -webkit-flex: 1;
    position: relative;
  }
  .address-option-bar .border-b {
    border-width: 0;
  }
  .address-option-area:after {
    content: '';
    width: 13px;
    height: 7px;
    background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -145px -120px;
    background-size: 312px 280px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
  }
  .address-option-area:nth-child(3):after {
    right: -2px;
  }
  .address-se-la {
    padding-left: 6px;
  }
  .address-option-area:nth-child(1) .address-se-la {
    position: relative;
    width: 100%;
    padding-left: 0;
  }
}
.address-option-se[disabled] {
  color: #ccc;
}
.address-detail-bar {
  line-height: 42px;
  background: #fff;
  padding: 0 10px;
}
.address-detail-insert {
  width: 66%;
  height: 63px;
  padding: 9px 8px;
}
.address-username-insert,
.address-usertel-insert {
  width: 70%;
}
.address-foot-box {
  width: 100%;
  height: 40px;
  margin-top: 20px;
}
.address-foot-btn {
  width: 90%;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  display: block;
  margin: 0 auto ;
}
.address-foot-box .forbidden-color {
  color: #999;
}
.address-exist-fatherbar {
  padding-bottom: 40px;
}
.address-exist-bar {
  font-size: 14px;
  line-height: 34px;
}
.address-exist-area {
  padding: 4px 10px 0;
  margin-bottom: 10px;
  position: relative;
  background: #fff;
}
.confirm-order .address-exist-area {
  padding: 10px;
}
.address-exist-info {
  font-size: 16px;
  color: #111;
}
.address-exist-username {
  width: 35%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.address-exist-usertel {
  margin-left: 5px;
}
.address-exist-nameicon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -99px -120px;
  background-size: 312px 280px;
  display: inline-block;
}
.address-exist-telicon {
  width: 11px;
  height: 17px;
  margin-right: 10px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -124px -120px;
  background-size: 312px 280px;
  display: inline-block;
  position: relative;
  left: 0;
  top: 2px;
}
.address-exist-text {
  line-height: 24px;
  padding-bottom: 6px;
}
.address-page-box .pay-order-box {
  margin-top: 10px;
  position: relative;
}
.address-page-box .order-goods-text {
   font-size: 14px;
   font-family: 'Arial';
}
.address-page-box .pic-detail {
  height: 40px;
  max-height: 40px;
  line-height: 20px;
  font-size: 16px;
  overflow: hidden;
  color: #111;
}
.address-page-box .pic-detail-tip {
  margin-top: 4px;
}
.address-page-box .actually-pay {
  font-size: 16px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.address-control-bar {
  width: 100%;
  height: 40px;
  line-height: 40px;
  position: relative;
}
.address-set-area {
  height: 100%;
}
.address-radio-group {
  position: relative;
  height: 14px;
}
.address-custom-common {
  width: 13px;
  height: 13px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -69px -146px;
  background-size: 312px 280px;
}
.address-radio-group input[type="radio"]:checked + .address-custom-common {
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -46px -146px;
  background-size: 312px 280px;
}
.address-set-inp {
  position: absolute;
  left: 0;
  top: 0; 
  opacity: 0.01;
}
.address-set-default {
  margin-left: 20px;
}
.address-edit-area {
  position: absolute;
  right: 70px;
  top: 0;
}
.address-delete-area {
  position: absolute;
  right: 0;
  top: 0;
}
.address-edit-icon {
  width: 13px;
  height: 13px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat -23px -146px;
  background-size: 312px 280px;
  margin-right: 6px;
  display: inline-block;
}
.address-delete-icon {
  width: 13px;
  height: 13px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png) no-repeat 0 -146px;
  background-size: 312px 280px;
  margin-right: 6px;
  display: inline-block;
}
/* address page end */

/* delivery-box start */

.delivery-nav {
  height: 40px;
  line-height: 40px;
}
.delivery-info {
  height: 100%;
  text-align: center;
  color: #fff;
}
.delivery-info:nth-child(1) {
  width: 40%;
  background: #88cdfe;
}
.delivery-info:nth-child(2) {
  width: 60%;
  background: #67baf7;
}
.delivery-status {
  position: relative;
}
.delivery-status:nth-child(even) {
  background: #f6f6f6;
}
.delivery-status:nth-child(odd) {
  background: #eee;
}
.delivery-time-pos {
  padding: 18px;
  height: 100%;
}
.delivery-time-pos:nth-child(1) {
  width: 40%;
  position: absolute;
  left: 0;
  top: 0;
}
.delivery-time-pos:nth-child(1) div {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -20px;
}
.delivery-time-pos:nth-child(2) {
  width: 60%;
  font-size: 14px;
  line-height: 24px;
}
.delivery-time-pos p {
  text-align: center;
}
.delivery-time-pos p:nth-child(1) {
  font-size: 12px;
}
.delivery-line {
  width: 3px;
  height: 100%;
  background: #ccc;
  position: absolute;
  left: 40%;
  top: 0;
}
.delivery-line-finish {
  width: 3px;
  height: 50%;
  background: #ccc;
  position: absolute;
  left: 40%;
  top: 0;
  top: 0;
}
.delivery-status:nth-child(1) .delivery-line {
  height: 50%;
  top: 50%;
}
.delivery-roll {
  width: 10px;
  height: 10px;
  background: #67baf7;
  border-radius: 50%;
  position: absolute;
  left: 40%;
  top: 50%;
  margin-left: -5px;
  margin-top: -5px;
}
.delivery-status:nth-child(1) .delivery-roll {
  top: 0;
}
.delivery-line-finish .delivery-roll {
  width: 0;
}
.delivery-bg {
  width: 16px;
  height: 16px;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -7px;
  margin-top: -8px;
}
.delivery-status:nth-child(1) .delivery-bg {
  top: 0;
}
.delivery-line-finish .delivery-bg {
  width: 18px;
  height: 18px;
  top: 100%;
  margin-left: -8px;
  margin-top: -9px;
  background: url(http://cdn.rsscc.cn/guanggao/img/mall/icon/index-icon.png?a=b) no-repeat -93px -147px;
  background-size: 312px 280px;
}

/* delivery-box end */
